NBA_CHARTS_API_HOST=127.0.0.1
NBA_CHARTS_API_PORT=8000
NBA_CHARTS_DASH_HOST=127.0.0.1
NBA_CHARTS_DASH_PORT=8050
NBA_CHARTS_DASH_INTERVAL_MS=1200

NBA_CHARTS_DB_HOST=127.0.0.1
NBA_CHARTS_DB_PORT=5432
NBA_CHARTS_DB_NAME=nba_charts
NBA_CHARTS_DB_ADMIN_NAME=postgres
NBA_CHARTS_DB_USER=postgres
NBA_CHARTS_DB_PASSWORD=123456789
NBA_CHARTS_DB_CONNECT_TIMEOUT_SECONDS=10

NBA_CHARTS_KOBE_DATA_SOURCE=auto
